<!DOCTYPE html>
<html>
<head>
    <%- include('partials/_head.ejs') %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <div class="container mt-5">
        <h2 class="text-white">Events page under construction, please check again later</h2>
    

       
    </div>
    <%- include('partials/_footer.ejs') %>
</body>
</html>